.footer-top {
    background: #004eaf;
    padding: 13px 0;
}
.footer-top h3 {
    color: #fff;
    font-size: 22px;
    font-weight: normal;
    margin: 0;
    text-transform: uppercase;
    font-family: "Roboto Condensed", sans-serif;
}
.footer-top a {
    display: inline-block;
    margin: 0 5px;
}
.footer-top a img {
    width: 30px;
    height: auto;
}
.footer-top a:last-child {
    margin-right: 0;
}

.footer-middle {
    background: #001373;
    padding: 25px 0;
    color: #fff;
}
.footer-middle a {
    color: inherit;
}
.footer-middle hr {
    border-top-color: rgba(255, 255, 255, 0.2);
    margin-top: 12px;
    margin-bottom: 12px;
}
.footer-middle .address {
    color: #fff;
    font-size: 13px;
    line-height: 18px;
    font-family: "Roboto Condensed", sans-serif;
    margin: 0;
}
