body {
    color: #010101;
    font-size: 18px;
    line-height: 1.3;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

a {
    color: #010101;
}
a:hover,
a:focus {
    text-decoration: none;
    color: #23527c;
}

b,
strong {
    font-weight: 700;
}

button {
    cursor: pointer;
}
button:focus {
    outline: none;
}

.btn-clear {
    border: none;
    background-color: transparent;
    padding: 0;
}
.btn-clear:focus {
    box-shadow: none;
}

textarea {
    resize: none;
}

.container {
    padding-right: 10px;
    padding-left: 10px;
}
@media (min-width: 1280px) {
    .container {
        max-width: 1190px;
    }
}

.row {
    margin-right: -12px;
    margin-left: -12px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
    padding-right: 12px;
    padding-left: 12px;
}

/* Typography */
.h5,
h5 {
    font-size: 16px;
}

.h4,
h4 {
    font-size: 17px;
}

.h3,
h3,
.typescale-4 {
    font-size: 18px;
}

.typescale-3 {
    font-size: 18px;
}
@media only screen and (min-width: 768px) {
    .typescale-3 {
        font-size: 20px;
    }
}

.h2,
h2,
.typescale-2 {
    font-size: 20px;
}

.h1,
h1,
.typescale-1 {
    font-size: 22px;
}
@media only screen and (min-width: 768px) {
    .h1,
    h1,
    .typescale-1 {
        font-size: 25px;
    }
}

.title {
    font-weight: 500;
    text-transform: uppercase;
    color: #000043;
    margin-bottom: 0;
    text-transform: uppercase;
}
.title a {
    color: inherit;
}

.btn {
    font-size: 14px;
    line-height: 22px;
    padding: 8px 24px 4px;
}
.btn:focus {
    box-shadow: none;
}

.btn-outline-dark {
    color: #454545;
    border-color: #646464;
    background-color: transparent;
}
.btn-outline-dark:hover,
.btn-outline-dark:focus {
    background-color: #646464;
    color: #fff;
}

.btn-outline-dark2 {
    color: #000;
    border-color: #000;
    background: #fff url("../images/bg/btn-dark.png") repeat-x 0 center;
}
.btn-outline-dark2:hover,
.btn-outline-dark2:focus {
    opacity: 0.85;
}

/*------------------------------------------------------------------
  [Header]
  */
.header-page {
    margin-bottom: 2px;
    border-bottom: 1px solid #b2b2b2;
    padding: 20px 0 17px 0;
}

.header-right {
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header-links {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    margin-right: 19px;
}
.header-links li {
    display: inline-block;
}
.header-links li + li::before {
    content: "|";
    display: inline-block;
    font-size: 14px;
    line-height: 1;
    color: #000;
    margin: 0 5px;
}
.header-links li a {
    color: #000;
    font-size: 14px;
}
.header-links li a:hover {
    color: #23527c;
}

.header-search {
    margin: 0 19px 0 10px;
    max-width: 140px;
    display: none;
}
@media only screen and (min-width: 992px) {
    .header-search {
        display: block;
    }
}

.form-search {
    height: 23px;
    border: 1px solid #b9b9bb;
    border-radius: 10px;
    position: relative;
    background-color: #fff;
}
.form-search .form-control {
    border: 0;
    height: 21px;
    line-height: 19px;
    padding: 1px 24px 1px 10px;
    font-size: 14px;
    border-radius: 0;
    background-color: transparent;
}
.form-search .form-control:focus {
    box-shadow: none;
}
.form-search .form-submit {
    padding: 0;
    border: 0;
    position: absolute;
    top: 5px;
    right: 9px;
    width: 13px;
    height: 13px;
    background: url("../images/front/search-icon.png") no-repeat 0 0;
    background-color: transparent;
    font-size: 0;
}

/* navigation */
.navigation {
    background-color: #001373;
    /* rgba(15, 31, 121, 0.8); */
}
.mainmenu {
    background-color: #001373;
}
.clearfix {
    margin-left: 20%;
}
.section-banner .navigation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
}

.btn-menu {
    width: 28px;
    height: 28px;
    position: relative;
    border: none;
}
.btn-menu::before,
.btn-menu::after {
    background: #fff;
    content: "";
    height: 2px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 22px;
    transition: all 0.3s ease;
    border-radius: 2px;
}
.btn-menu::before {
    top: 20%;
    transform-origin: top left;
}
.btn-menu::after {
    bottom: 20%;
    transform-origin: bottom left;
}
.btn-menu span {
    background: #fff;
    bottom: 0;
    display: block;
    height: 2px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 22px;
    transition: all 0.3s ease;
    font-size: 0;
    border-radius: 2px;
}

.btn-submenu {
    position: absolute;
    right: 0;
    top: 0;
    font: 20px/50px "FontAwesome";
    text-align: center;
    cursor: pointer;
    width: 45px;
    height: 45px;
}

.btn-submenu:before {
    content: "\f107";
    color: #fff;
}

.btn-submenu.active:before {
    content: "\f106";
}

#mainmenu {
    display: block;
    transition: all 0.3s ease-out;
}

#mainmenu {
    background-image: none;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 10;
}

#mainmenu ul {
    position: relative;
    margin: 0;
    padding-left: 0;
}

#mainmenu ul li {
    position: relative;
}

#mainmenu > ul > li {
    display: block;
    float: left;
    padding-right: 1px;
}

#mainmenu > ul > li + li:before {
    background: #a7a8a8;
    content: "";
    display: inline-block;
    height: 12px;
    margin-top: -6px;
    position: absolute;
    right: 0;
    top: 50%;
    width: 1px;
    left: 0;
}

#mainmenu > ul > li > a {
    position: relative;
    display: block;
    color: #fff;
    font-size: 16px;
    padding: 0 15px;
    outline: none;
    text-transform: uppercase;
    font-family: "Roboto Condensed", sans-serif;
    line-height: 47px;
}

#mainmenu > ul > li > a:hover,
#mainmenu > ul > li.active a {
    background: #50bbff;
}

/* submenu */
.sub-menu {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
}

#mainmenu ul.sub-menu {
    position: absolute;
    left: 0;
    top: 100%;
    width: 255px;
    background-color: #50bbff;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease-out;
}

#mainmenu ul li:hover > ul.sub-menu {
    opacity: 1;
    visibility: visible;
    top: 100%;
}

#mainmenu ul li ul li {
    margin-left: 0;
}

#mainmenu ul.sub-menu li ul {
    position: absolute;
    left: 225px;
    top: 0;
}

#mainmenu ul.sub-menu > li > a {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 16px;
    text-transform: inherit;
    letter-spacing: 0.03em;
    line-height: 24px;
    height: auto;
    color: #fff;
    display: block;
    padding: 8px 10px 8px 22px;
    position: relative;
    margin: 0 3px;
    transition: all 0.2s ease-out;
    border-top: 1px solid #96d6ff;
}

#mainmenu ul.sub-menu > li:first-child > a {
    border-top: 0;
}

#mainmenu ul.sub-menu > li a:before {
    position: absolute;
    top: 8px;
    left: 10px;
    content: "\f101";
    font-family: FontAwesome;
    font-size: 14px;
}

#mainmenu ul.sub-menu > li:hover a {
    padding-left: 25px;
}

#mainmenu ul.sub-menu > li > a:hover {
    color: #1931b5;
    font-style: italic;
}

/* Mobile navigation
  ---------------------------------------- */
#mainmenu-mobi {
    display: block;
    margin: 0 auto;
    width: 100%;
    position: absolute;
    background-color: #4896d1;
    z-index: 1000;
    left: 0;
}

#mainmenu-mobi ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}

#mainmenu-mobi ul li {
    margin: 0;
    position: relative;
    text-align: left;
    border-top: 1px solid #2570b0;
    cursor: pointer;
}

#mainmenu-mobi ul > li > a {
    text-decoration: none;
    display: inline-block;
    height: 45px;
    line-height: 45px;
    padding: 0 15px;
    color: #fff;
    font-size: 16px;
}

#mainmenu-mobi ul.sub-menu {
    top: 100%;
    left: 0;
    z-index: 2000;
    position: relative;
    background-color: #50bbff;
}

#mainmenu-mobi > ul > li > ul > li,
#mainmenu-mobi > ul > li > ul > li > ul > li {
    position: relative;
    border-top: 1px solid #96d6ff;
}

#mainmenu-mobi ul.sub-menu > li > a {
    display: block;
    text-decoration: none;
    padding: 0 30px;
    border-top-color: rgba(255, 255, 255, 0.1);
    transition: all 0.2s ease-out;
}

#mainmenu-mobi ul.sub-menu > li > ul > li > a {
    padding: 0 40px;
}

#mainmenu-mobi ul.sub-menu > li > ul > li ul li > a {
    padding: 0 60px;
}

#mainmenu-mobi > ul > li > ul > li:first-child a {
    border-top: none;
}

.category-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.category-list li {
    font-weight: 500;
}
.category-list li:not(:last-child) {
    margin-bottom: 15px;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

body {
    /*
    color: #444;
    font-size: 12px;
    line-height: 18px;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased; /* Fix for webkit rendering 
    -webkit-text-size-adjust: 100%;
	*/
}

/*-------------------------------------*/
/* HEADER STYLES */
/*-------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
    display: block;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    font-weight: inherit;
}

h1 {
    font-size: 38px;
    line-height: 54px;
    letter-spacing: normal;
    margin-top: 8px;
    margin-bottom: 10px;
}

h2 {
    font-size: 32px;
    line-height: 36px;
    letter-spacing: normal;
    margin-top: 8px;
    margin-bottom: 10px;
}

h3 {
    font-size: 28px;
    line-height: 36px;
    letter-spacing: normal;
    margin-top: 8px;
    margin-bottom: 10px;
}

h4 {
    font-size: 22px;
    line-height: 36px;
    letter-spacing: normal;
}

h5 {
    font-size: 16px;
    line-height: 18px;
    letter-spacing: normal;
}

h6 {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: normal;
}

/* Module titles */
.Head {
    display: inline-block;
    margin-bottom: 6px;
}

p {
    margin: 0 0 18px 0;
}
/* margin bottom is equal to line-height */
p img {
    margin: 0;
}

em,
i {
    font-style: italic;
}

strong,
b {
    font-weight: bold;
}

small {
    font-size: 80%;
}

/*-------------------------------------*/
/* lIST STYLES */
/*-------------------------------------*/
ul,
ol {
    margin-bottom: 18px;
    margin-left: 18px;
}

ul {
    list-style: square outside;
}

ol {
    list-style: decimal;
}

/* Nested Styles */
ul ul,
ul ol,
ol ol,
ol ul {
    margin-left: 18px;
    margin-bottom: 0;
}

ol ol {
    list-style: lower-roman;
}

li p {
    /* line-height: 18px; */
}

/* End Overflow for dnnMenu dropdown */

/* -------css blockdao tao-------- */

.submenu{
    display: none;
    list-style: none;
}
.item:hover + .submenu{
  display: block;
  text-decoration: none;
}
ul li:hover ul {display: block;}
a{
    text-decoration: none;
}.list-group-item{
    font-family: Arial, Helvetica, sans-serif;
}
.chitiet{
border: 0.5px solid rgba(255, 0, 0, 0.199);
}
.noidung{
    margin-top: 30px;
}

h5{
    font-weight: bold;
     text-align: center;
}

/*------------------- slideshow------------------ */
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  max-height: 300px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/* -----------------item-tin--------------------- */

label.error{
    color: red;
    font-size: 20px;
}